<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: no-link-header(~{::meta},~{::title})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>统计分析-决策系统</title>
</head>

<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<script src="js/jquery/jquery.min.js?v=2.1.4" th:src="@{/js/jquery/jquery.min.js}"></script>
<script src="js/bootstrap/bootstrap.min.js?v=3.3.6" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="../js/highcharts/highcharts.js" th:src="@{/js/highcharts/highcharts.js}"></script>
<script src="../js/highcharts/highcharts-3d.js" th:src="@{/js/highcharts/highcharts-3d.js}"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
    var init_page_param = {
        creditId: /*[[${creditId}]]*/ ''
    };
</script>
<script src="js/util/csrf.js" th:src="@{/js/util/csrf.js}"></script>
<script src="js/analyse/analyse_list.js" th:src="@{/js/analyse/analyse_chart.js}"></script>
</body>
</html>
