<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学习成绩收集</title>

    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="css/font/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/animate/animate.min.css" rel="stylesheet">
    <link href="css/style/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body>
<div class="col-sm-12">
    <!-- Example Events -->
    <div class="example-wrap">
        <h3 class="example-title">学习成绩收集</h3>
        <hr/>
        <div class="example">
            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                <button type="button" class="btn btn-outline btn-default">
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline btn-default">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </button>
            </div>
            <table id="exampleTableEvents" data-height="400" data-mobile-responsive="true">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="id">学校</th>
                    <th data-field="state">状态</th>
                    <th data-field="operation">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- End Example Events -->
</div>
</body>
<script src="js/jquery/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap/bootstrap.min.js?v=3.3.6"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="js/demo/bootstrap-table-demo.min.js"></script>
</html>
