<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>班级数据-决策系统</title>

    <link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"
          th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link href="plugin/messenger/css/messenger.css" rel="stylesheet" th:href="@{/plugin/messenger/css/messenger.css}"/>
    <link href="plugin/messenger/css/messenger-theme-air.css" rel="stylesheet"
          th:href="@{/plugin/messenger/css/messenger-theme-air.css}"/>

</head>

<body>
<div class="col-sm-12">
    <!-- Example Events -->
    <div class="example-wrap">
        <h3 class="example-title">班级数据</h3>
        <hr/>
        <div class="example">
            <form class="form-inline text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="schoolName"
                                   placeholder="学校">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="collegeName"
                                   placeholder="院">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="departmentName"
                                   placeholder="系">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="scienceName"
                                   placeholder="专业">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="grade"
                                   placeholder="年级">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="organizeName"
                                   placeholder="班级">
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-center" style="padding: 10px;">
                <button type="button" id="search" class="btn btn-default">搜索</button>
                <button type="button" id="reset_search" class="btn btn-default">重置</button>
            </div>
            <div id="toolbar" class="btn-group">
                <button id="add" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                </button>
            </div>
            <table data-mobile-responsive="true" data-toggle="table" data-show-refresh="true"
                   data-show-columns="true" data-sort-name="organizeId" data-show-toggle="true"
                   data-sort-order="asc"
                   data-locale="zh-CN" id="dataTable" style="table-layout:fixed;">
                <thead>
                <tr>
                    <th data-field="schoolName">学校</th>
                    <th data-field="collegeName">院</th>
                    <th data-field="departmentName">系</th>
                    <th data-field="scienceName">专业</th>
                    <th data-field="grade">年级</th>
                    <th data-field="organizeId">班级ID</th>
                    <th data-field="organizeName">班级</th>
                    <th data-field="organizeIsDel" data-formatter="formatterOrganizeIsDel">状态</th>
                    <th data-formatter="operation">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- End Example Events -->
</div>
<!-- 添加Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">添加班级</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <select class="form-control" id="addSchoolId">
                            <option value="">请选择学校</option>
                        </select>
                        <div class="text-danger" id="add_school_id_error"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="addCollegeId">
                            <option value="">请选择院</option>
                        </select>
                        <div class="text-danger" id="add_college_id_error"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="addDepartmentId">
                            <option value="">请选择系</option>
                        </select>
                        <div class="text-danger" id="add_department_id_error"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="addScienceId">
                            <option value="">请选择专业</option>
                        </select>
                        <div class="text-danger" id="add_science_id_error"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="addGradeId">
                            <option value="">请选择年级</option>
                        </select>
                        <div class="text-danger" id="add_grade_id_error"></div>
                    </div>
                    <div class="form-group">
                        <label for="addOrganizeName">班级</label>
                        <input class="form-control" id="addOrganizeName" placeholder="班级">
                        <div class="text-danger" id="add_organize_name_error"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addSave">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">编辑班级</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <select class="form-control" id="editSchoolId">
                            <option value="">请选择学校</option>
                        </select>
                        <div class="text-danger" id="edit_school_id_error"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="editCollegeId">
                            <option value="">请选择院</option>
                        </select>
                        <div class="text-danger" id="edit_college_id_error"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="editDepartmentId">
                            <option value="">请选择系</option>
                        </select>
                        <div class="text-danger" id="edit_department_id_error"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="editScienceId">
                            <option value="">请选择专业</option>
                        </select>
                        <div class="text-danger" id="edit_science_id_error"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="editGradeId">
                            <option value="">请选择年级</option>
                        </select>
                        <div class="text-danger" id="edit_grade_id_error"></div>
                    </div>
                    <div class="form-group">
                        <label for="editOrganizeName">班级</label>
                        <input class="form-control" id="editOrganizeName" placeholder="班级">
                        <div class="text-danger" id="edit_organize_name_error"></div>
                        <input type="hidden" id="editOrganizeId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editSave">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
<!--定义操作列按钮模板-->
<script id="operator_button" type="text/x-handlebars-template">
    <div class="btn-group" role="group">
        {{#each func}}
        <button type="button" class="btn btn-{{this.type}} btn-sm {{this.css}}" data-id="{{this.id}}"
                data-organize="{{this.organize}}">
            {{this.name}}
        </button>
        {{/each}}
    </div>
</script>
<script src="js/jquery/jquery.min.js?v=2.1.4" th:src="@{/js/jquery/jquery.min.js}"></script>
<script src="js/bootstrap/bootstrap.min.js?v=3.3.6" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table.min.js"
        th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"
        th:src="@{/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"
        th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script src="plugin/messenger/js/messenger.js"
        th:src="@{/plugin/messenger/js/messenger.js}"></script>
<script src="plugin/handlebars/handlebars.js"
        th:src="@{/plugin/handlebars/handlebars.js}"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
</script>
<script src="js/util/csrf.js" th:src="@{/js/util/csrf.js}"></script>
<script th:src="@{/js/data/organize/organize_list.js}"></script>
</html>
