<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header(~{::meta},~{::title},~{::link})">
    <!-- csrf -->
    <meta name="_csrf" content="" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="" th:content="${_csrf.headerName}"/>
    <title>学校数据-决策系统</title>
    <link href="css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"
          th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link href="plugin/messenger/css/messenger.css" rel="stylesheet" th:href="@{/plugin/messenger/css/messenger.css}"/>
    <link href="plugin/messenger/css/messenger-theme-air.css" rel="stylesheet"
          th:href="@{/plugin/messenger/css/messenger-theme-air.css}"/>

</head>

<body>
<div class="col-sm-12">
    <!-- Example Events -->
    <div class="example-wrap">
        <h3 class="example-title">学校数据</h3>
        <hr/>
        <div class="example">
            <div class="form-group">
                <input type="text" class="form-control" id="schoolName"
                       placeholder="学校">
            </div>
            <div class="text-center" style="padding: 10px;">
                <button type="button" id="search" class="btn btn-default">搜索</button>
                <button type="button" id="reset_search" class="btn btn-default">重置</button>
            </div>
            <div id="toolbar" class="btn-group">
                <button id="add" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                </button>
            </div>
            <table data-mobile-responsive="true" data-toggle="table" data-show-refresh="true"
                   data-show-columns="true" data-sort-name="schoolName" data-show-toggle="true"
                   data-sort-order="asc"
                   data-locale="zh-CN" id="dataTable" style="table-layout:fixed;">
                <thead>
                <tr>
                    <th data-field="schoolName">学校</th>
                    <th data-field="schoolIsDel" data-formatter="formatterSchoolIsDel">状态</th>
                    <th data-formatter="operation">操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- End Example Events -->
</div>

<!-- 添加Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">添加学校</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="addSchoolName">学校</label>
                        <input class="form-control" id="addSchoolName" placeholder="学校">
                        <div class="text-danger" id="add_school_name_error"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addSave">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">编辑学校</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editSchoolName">学校</label>
                        <input class="form-control" id="editSchoolName" placeholder="学校">
                        <div class="text-danger" id="edit_school_name_error"></div>
                        <input type="hidden" id="editSchoolId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editSave">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>
<!--定义操作列按钮模板-->
<script id="operator_button" type="text/x-handlebars-template">
    <div class="btn-group" role="group">
        {{#each func}}
        <button type="button" class="btn btn-{{this.type}} btn-sm {{this.css}}" data-id="{{this.id}}"
                data-school="{{this.school}}">
            {{this.name}}
        </button>
        {{/each}}
    </div>
</script>
<script src="js/jquery/jquery.min.js?v=2.1.4" th:src="@{/js/jquery/jquery.min.js}"></script>
<script src="js/bootstrap/bootstrap.min.js?v=3.3.6" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table.min.js"
        th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script src="js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"
        th:src="@{/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script src="js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"
        th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script src="plugin/messenger/js/messenger.js"
        th:src="@{/plugin/messenger/js/messenger.js}"></script>
<script src="plugin/handlebars/handlebars.js"
        th:src="@{/plugin/handlebars/handlebars.js}"></script>
<script th:inline="javascript">
    var web_path = /*[[${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()}]]*/ '';
</script>
<script src="js/util/csrf.js" th:src="@{/js/util/csrf.js}"></script>
<script src="js/data/school/school_list.js" th:src="@{/js/data/school/school_list.js}"></script>
</html>
