<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(metas,title,links)">
    <!-- Common metas -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 360 browser default use webkit -->
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <!--/* Per-page placeholder for additional metas */-->
    <th:block th:replace="${metas}"/>
    <title th:replace="${title}">DMS</title>
    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" >
    <link href="css/font/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet" th:href="@{/css/font/font-awesome.min93e3.css}">
    <link href="css/animate/animate.min.css" rel="stylesheet" th:href="@{/css/animate/animate.min.css}">
    <link href="css/style/style.min.css" rel="stylesheet" th:href="@{/css/style/style.min.css}">

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>
</head>
<head th:fragment="no-metas-header(title,links)">
    <!-- Common metas -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 360 browser default use webkit -->
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <title th:replace="${title}">DMS</title>
    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" >
    <link href="css/font/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet" th:href="@{/css/font/font-awesome.min93e3.css}">
    <link href="css/animate/animate.min.css" rel="stylesheet" th:href="@{/css/animate/animate.min.css}">
    <link href="css/style/style.min.css" rel="stylesheet" th:href="@{/css/style/style.min.css}">
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>
</head>
<head th:fragment="no-metas-link-header(title)">
    <!-- Common metas -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 360 browser default use webkit -->
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <title th:replace="${title}">DMS</title>
    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" >
    <link href="css/font/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet" th:href="@{/css/font/font-awesome.min93e3.css}">
    <link href="css/animate/animate.min.css" rel="stylesheet" th:href="@{/css/animate/animate.min.css}">
    <link href="css/style/style.min.css" rel="stylesheet" th:href="@{/css/style/style.min.css}">
</head>
<head th:fragment="no-link-header(metas,title)">
    <!-- Common metas -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 360 browser default use webkit -->
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="" th:content="#{web.meta.keywords}"/>
    <meta name="description" content="" th:content="#{web.meta.description}"/>
    <meta name="author" content="" th:content="#{web.meta.author}"/>
    <!--/* Per-page placeholder for additional metas */-->
    <th:block th:replace="${metas}"/>
    <title th:replace="${title}">DMS</title>
    <!-- favicon -->
    <link rel="icon" href="icon/favicon.ico" th:href="@{/icon/favicon.ico}"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" >
    <link href="css/font/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet" th:href="@{/css/font/font-awesome.min93e3.css}">
    <link href="css/animate/animate.min.css" rel="stylesheet" th:href="@{/css/animate/animate.min.css}">
    <link href="css/style/style.min.css" rel="stylesheet" th:href="@{/css/style/style.min.css}">
</head>
<body></body>
</html>